/*brahhhhhhhhh what is this lab dawg */
/* Variables and Fallbacks */
body{
    background-color: var(--main-color, rgb(255, 115, 0));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    margin-top: 0;
    padding: 0;
    

}

header, footer{
    background-color: white;
    text-align: center;
    margin:auto;

}

h1, h2, h3{
    text-align: left;
    color: hsl(74, 66%, 47%);
    text-transform: uppercase;
    
}

nav ul{
   display: flex;
   text-align: center;
   padding: 0%;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
   

}

nav li{
    display: contents;
    font-weight: bold;
    color: #0000;
}

nav a{
    text-underline-offset: 30%;
    text-decoration: underline;
    padding: 2em;
}

/* The Units */

section{
    padding: 10px 15px 20px 25px;         
    margin: 10px 20px 30px 40px;         
    width: 80%;     
    border: 2px solid black;
    border-color: red;
    border-style: dotted;
    
}

img{
    width: 300px;         
    height: 4in;          
    border-radius: 4cm; 
    
    max-width: 100%;
    min-width: 200px;
    display: inline-block;
}

footer{
    color: black;
    
    
}

#media{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

@media  (max-width: 600px){
    body{
        background-color: lightblue;
    }
}

.hidden{
    display: none;
}

span{
    position: absolute;
    top: 0;
    right: 0;
    display: inline;

    
}

button:active{
    transform: scale(10);
    color: rgb(255, 115, 0);
}
header{
    position: sticky;
}
a:hover{
    color: red;
}

body{
    font-family: 'Roboto',  sans-serif;
}

*{
    box-sizing: border-box;
}
input[type="radio"]{
    accent-color: blue;
}

section p{
    font-style: italic;
}
ul > li{
    list-style-type: square;
}

h2 ~ p{
    font-weight: bold;
}

h2 + p{
    text-decoration: underline;
}

a.hidden{
    opacity: 0.6;
}

section:has(img){
    outline:  3px dashed purple;
}

nav {
    ul {
      li {
        background-color: #f5f5f5;
      }
    }
  }
  